{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "ecmaFeatures": {
        "jsx": true,
        "classes":true,
        "arrowFunctions": true,
        "modules": true
    },
    "extends": "airbnb",
    "rules": {
        "indent": [2, 4],
        "arrow-body-style": [0],
        "import/no-unresolved": [2, { "ignore": ["log4js"] }],
        "no-useless-escape": [0],
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "react/jsx-filename-extension": [0, { "extensions": [".js", ".jsx"] }],
        "react/forbid-prop-types": [0],
        "jsx-a11y/no-static-element-interactions": [0],
        "class-methods-use-this": [0],
        "react/sort-comp": [0],
        "no-constant-condition": ["error", { "checkLoops": false }],
        "no-unused-vars": ["error"],
        "id-length": [2, {"exceptions": ["$", "_"]}],
        "no-bitwise": [2, {"allow": ["^"]}]
    }
}
