.te-header {
    background-color: red;

    .at-title {
        margin-bottom: 10px;
    }
}

.te-flg-true,
.te-flg-false {
    margin: 0;
}

.te-flg-true {
    color: blue;
}

.te-flg-false {
    color: black;
}
